**Python - Lists**

*List*

In [ ]:
mylist = ["apple","banana","cherry", "orange"]
print(mylist)

['apple', 'banana', 'cherry', 'orange']

*Allow Duplicates*

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "cherry"]
print(mylist[3])
print(mylist[4])
print(mylist)

orange
cherry
['apple', 'banana', 'cherry', 'orange', 'cherry']

*List Length*

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "cherry"]
print(len(mylist))

5

*List Item - Data Types*

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

*The List() Constructor*

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

**Python - Basic Oeprators**

**`Python - Access List Items`**

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "cherry"]
print(mylist[0])
print(mylist[3])
print(mylist[4])

apple
orange
cherry

*Negative Indexing*

In [ ]:
mylist = ["apple", "banana", "cherry","orange"]
print(mylist[-2])

cherry

*Range of Indexes*

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(mylist[3:6])

['orange', 'kiwi', 'melon']

*Range of Negative Indexes*

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(mylist[-6:-2])

['banana', 'cherry', 'orange', 'kiwi']

*Check if Item Exist*

In [ ]:
mylist = ["apple", "banana", "cherry"]
if "apple" in mylist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

**`Python - Change List Items`**

*Change Item Value*

In [ ]:
mylist = ["apple", "banana", "cherry"]
mylist[1] = "blackcurrant"
print(mylist)

['apple', 'blackcurrant', 'cherry']

*Change a Range of Item Values*

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
mylist[1:5] = ["blackcurrant", "watermelon"]
print(mylist)

['apple', 'blackcurrant', 'watermelon', 'mango']

**`Python - Add List Items`**

*Append Items*

In [ ]:
mylist = ["apple", "banana", "cherry"]
mylist.append("orange")
print(mylist)

['apple', 'banana', 'cherry', 'orange']

*Insert Items*

In [ ]:
mylist = ["apple", "banana", "cherry"]
mylist.insert(1, "watermelon")
print(mylist)

['apple', 'watermelon', 'banana', 'cherry']

*Extend List*

In [ ]:
mylist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
mylist.extend(tropical)
print(mylist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

*Add Any Iterable*

In [ ]:
mylist = ["apple", "banana", "cherry"]
friendlist = ("kiwi", "orange")
mylist.extend(friendlist)
print(mylist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

**`Python - Remove List Items`**

*Remove Specified Item*

In [ ]:
mylist = ["apple", "banana", "cherry", "orange"]
mylist.remove("cherry")
print(mylist)

['apple', 'banana', 'orange']

*Remove Specified Index*

In [ ]:
mylist = ["apple", "banana", "cherry", "watermelon"]
mylist.pop(1)
print(mylist)

['apple', 'cherry', 'watermelon']

*Clear the List*

In [ ]:
mylist = ["apple", "banana", "cherry"]
mylist.clear()
print(mylist)

[]

**Advanced Operations in Python Lists**

**`Python - Sort List`**

*Sort List Alphanumerically*

In [ ]:
mylist = ["orange", "mango", "kiwi", "pineapple", "banana"]
mylist.sort()
print(mylist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

*Sort Descending*

In [ ]:
mylist = ["orange", "mango", "kiwi", "pineapple", "banana"]
mylist.sort(reverse = True)
print(mylist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

*Customize Sort Function*

In [ ]:
def myfunc(n):
  return abs(n - 50)

mylist = [100, 50, 65, 82, 23]
mylist.sort(key = myfunc)
print(mylist)

[50, 65, 23, 82, 100]

*Case Insensitive Sort*

In [ ]:
mylist = ["banana", "Orange", "Kiwi", "cherry"]
mylist.sort()
print(mylist)

['Kiwi', 'Orange', 'banana', 'cherry']

*Reverse Order*

In [ ]:
mylist = ["banana", "Orange", "Kiwi", "cherry"]
mylist.reverse()
print(mylist)

['cherry', 'Kiwi', 'Orange', 'banana']

**`Python - Copy List`**

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

***Python - Join Lists***

*Join Two Lists*

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

**List Methods**

**`Python List reverse() Method`**

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()